/* faq section css start */
.faq-section {
    padding: 24px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.faq-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.faq-content {
    width: 32.144%;
}

.faq-content .faq-img {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

.faq-content-title {
    text-transform: uppercase;
    font-weight: 300;
}

.faq-content-text {
    margin: 20px 0 0 0;
}

.faq-content .btn {
    margin: 20px 0 0 0;
}

.faq-link-wrap {
    width: 64.288%;
    margin: 24px 0 0 0;
}

.faq-link-wrap-area-title {
    margin: 0 0 48px 0;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
}

.faq-link-wrap-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-link-wrap-item {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 16px 32px;
}

.faq-link-wrap-item:hover {
    background: var(--brand-color);
}

.faq-link-wrap-item .item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: all ease .5s;
}

.faq-link-wrap-item:hover .item-title-wrapper {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* transform: translateY(-10px); */
}

.faq-link-wrap-item .item-title-wrapper .item-title {
    font-size: 16px;
    transition: ease .3s;
    user-select: none;
    line-height: 100%;
}

.faq-link-wrap-item .item-title-wrapper .icon {
    display: flex;
    transition: ease .3s;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background: var(--item-bg2);
    border-radius: 50px;
    overflow: hidden;
}

.faq-link-wrap-item .item-title-wrapper .icon svg {
    width: 10px;
    height: 10px;
    transition: all ease .3s;
}

.faq-link-wrap-item .item-title-wrapper .icon svg path {
    fill: var(--brand-color);
}

.faq-link-wrap-item.active .item-title-wrapper .icon svg {
    transform: rotate(135deg);
}

.faq-link-wrap-item-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* transform: translateY(-10px); */
    transition:
        max-height 0.6s cubic-bezier(0.25, 1, 0.5, 1),
        opacity 0.4s ease,
        transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.faq-link-wrap-item:hover .faq-link-wrap-item-content {
    max-height: fit-content;
    opacity: 1;
    /* transform: translateY(0); */
}

.faq-link-wrap-item-content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.faq-link-wrap-item-content-inner .content .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: var(--item-bg5);
}

.faq-link-wrap-item-content-inner .content .text {
    font-size: 14px;
    line-height: 100%;
    color: var(--item-bg5);
    margin: 4px 0 0 0;
}

.faq-link-wrap-btn {
    display: flex;
}

.faq-link-wrap-item-content-inner .faq-link-wrap-btn .secondary-btn {
    background-color: var(--disabled-btn-bg2);
    padding: 8px 24.5px;
    font-size: 14px;
}

.faq-link-wrap-item-content-inner .faq-link-wrap-btn .secondary-btn:hover {
    background-color: var(--btn-hover2);
    font-weight: 700;
}

/* faq section css end */

@media only screen and (max-width:992px) {

    /* faq section css start */
    .faq-wrapper {
        gap: 40px;
        flex-wrap: wrap;
    }

    .faq-content {
        width: 100%;
        text-align: center;
    }

    .faq-link-wrap-area-title {
        margin: 0 0 40px 0;
        font-size: 44px;
    }

    .faq-link-wrap {
        width: 100%;
    }

    /* faq section css end */
}

@media only screen and (max-width: 575px) {

    /* faq section css start */
    .faq-wrapper {
        gap: 20px;
    }

    .faq-link-wrap-area-title {
        margin: 0 0 20px 0;
        font-size: 28px;
    }

    .faq-link-wrap-items {
        gap: 12px;
    }

    .faq-link-wrap-item {
        padding: 16px;
    }

    .faq-link-wrap-item-content-inner {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .faq-link-wrap-item-content-inner .content .text {
        line-height: 140%;
        margin: 10px 0 0 0;
    }

    /* faq section css end */
}