/* footer-section css start */
.footer-section {
    background-color: var(--brand-color);
    padding: 48px 0;
    overflow: hidden;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0 0 24px 0;
}

.footer-item {
    width: fit-content;
}

.footer-item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.footer-logo {
    max-width: 96px;
}

.footer-content-text {
    color: var(--item-bg2);
    font-weight: 300;
}

.footer-item-title {
    margin: 0 0 16px 0;
    color: var(--item-bg5);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--paragraph-font);
}

.footer-list li {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-list li em {
    text-transform: capitalize;
    color: var(--item-bg2);
    font-style: normal;
}

.footer-list li:last-child {
    margin: 0;
}

.footer-list li p,
.footer-list li a {
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: var(--item-bg2);
    font-weight: 300;
}

.footer-list li a.email {
    text-decoration: underline;
}

.footer-list li a:hover {
    text-decoration: underline;
}

.copyright-area {
    padding: 20px 0 0 0;
}

.copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.copyright-text p,
.copyright-text a {
    color: var(--item-bg2);
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
}


.footer-select-field-item {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.footer-select-field-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background: var(--item-bg2);
    padding: 10px 24px 8px;
    border: 1px solid var(--brand-color);
    border-radius: 8px;
}

.footer-select-field-heading .title {
    color: var(--brand-color);
    line-height: 1;
}

.footer-select-field-heading .icon {
    display: flex;
}

.footer-select-field-item .drop {
    background: var(--item-bg5);
    border: 1px solid var(--border-color);
    right: 0;
    opacity: 0;
    position: absolute;
    bottom: 170%;
    transition: all ease .3s;
    z-index: 1;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.footer-select-field-item.active .drop {
    opacity: 1;
    bottom: 140%;
}

.footer-select-field {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.footer-select-field:last-child {
    border-bottom: 0;
}

.footer-select-field input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}

.footer-select-field label {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    text-wrap-mode: nowrap;
    width: 100%;
    padding: 8px 16px;
    user-select: none;
}

.footer-select-field label .box {
    background: var(--item-bg2);
    display: block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    position: relative;
}

.footer-radio-field label .box {
    border-radius: 50px;
}

.footer-radio-field label .box::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: var(--brand-color);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.footer-radio-field input[type="radio"]:checked~label .box::before {
    opacity: 1;
    visibility: visible;
}

.footer-radio-field input[type="radio"]:checked~label {
    font-weight: 700;
}

/* footer-section css end */

@media only screen and (max-width: 992px) {

    /* footer-section css start */
    .footer-items {
        gap: 16px;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .footer-item:first-child {
        width: 100%;
        max-width: 100%;
    }

    .footer-item {
        width: 30%;
    }

    /* footer-section css end */
}

@media only screen and (max-width:767px) {

    /* footer section css start */

    .footer-item:last-child {
        width: 100%;
    }

    .footer-item {
        width: 47%;
    }

    .footer-item-title {
        margin: 0 0 10px 0;
    }

    .footer-text {
        margin: 10px 0 0 0;
    }

    .footer-list li {
        margin: 0 0 6px 0;
    }

    /* footer section css end */
}

@media only screen and (max-width: 575px) {

    /* footer section css start */
    .footer-items {
        column-gap: 16px;
        row-gap: 24px;
        padding: 0 0 16px 0;
    }

    .footer-item {
        width: 47%;
    }

    .footer-item:first-child {
        width: 100%;
    }

    .footer-item:last-child {
        width: 100%;
    }

    .footer-logo {
        max-width: 50px;
    }

    .footer-item-title {
        font-size: 14px;
    }

    .footer-list li p,
    .footer-list li a {
        font-size: 14px;
        line-height: 21px;
    }

    .copyright-area {
        padding: 16px 0 0 0;
    }

    .copyright-content {
        justify-content: center;
        flex-direction: column;
    }

    .copyright-text {
        text-align: center;
    }

    .copyright-text p,
    .copyright-text a {
        font-size: 14px;
    }

    /* footer section css end */
}