/* hero section css start */
.hero-slider-section {
    background-image: url("../images/hero-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--item-bg2);
}

.hero-content-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 144px 0 54px;
}

.hero-content {
    max-width: 773px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 96px;
}

.hero-content .title {
    font-size: 96px;
    line-height: 100%;
}

.hero-content .subtitle {
    font-size: 24px;
    line-height: 100%;
    font-family: var(--paragraph-font);
    margin: 8px 0 0 0;
}

.hero-content .subtitle:first-child {
    margin: 0;
}

.hero-content .text {
    margin: 120px 0 0 0;
    font-size: 14px;
    line-height: 100%;
}

.hero-content .text a {
    color: var(--paragraph-text-color);
    text-decoration: underline;
}

/* hero section css end */

@media only screen and (max-width:992px) {

    /* hero section css start */
    .hero-content-inner {
        padding: 100px 0;
    }

    .hero-content {
        gap: 30px;
    }

    .hero-content .title {
        font-size: 56px;
        line-height: 110%;
    }

    /* hero section css end */
}

@media only screen and (max-width: 575px) {

    /* hero section css start */
    .hero-content-inner {
        padding: 50px 0;
    }

    .hero-content {
        width: 100%;
        gap: 20px;
    }

    .hero-content .title {
        font-size: 32px;
    }

    .hero-content .subtitle {
        font-size: 18px;
        line-height: 130%;
    }

    .hero-content .text {
        margin: 20px 0 0 0;
    }

    /* hero section css end */
}